:root {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0f0f0f;
  color: white;
}

#root {
  width: 100%;
  min-height: 100vh;
}